@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/*font-family: 'Amatic SC', cursive;*/

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(./assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
    max-height: 100vh;


    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #ff0000;
}

.first-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 33%;
    height: 100vh;
    margin-left: 10px;
}

.azathoth{
    background-image: url(./assets/Ancients/Azathoth.png);
    border-radius: 17px;
}

.cthulthu{
    background-image: url(./assets/Ancients/Cthulthu.png);
    border-radius: 17px;
}

.iogSothoth{
    background-image: url(./assets/Ancients/IogSothoth.png);
    border-radius: 17px;
}

.shubniggurath{
    background-image: url(./assets/Ancients/ShubNiggurath.png);
    border-radius: 17px;
}

.ancient{
    width: 200px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ancient:hover{
    opacity: .5;
}

.second-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 20%;
    height: 100vh;
    visibility: hidden;
}

.difficulty{
    border: 2px solid;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background: linear-gradient(rgb(0, 0, 0), rgba(88, 13, 25, 0.616))
}
.difficulty:hover{
    opacity: .5;
}

.third-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 33%;
    height: 100vh;
    visibility: hidden;
}

.shuffle{
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    border: 2px solid; 
    cursor: pointer;
    visibility: hidden;
    background: linear-gradient(rgba(88, 13, 25, 0.616), rgb(0, 0, 0))
}
.shuffle:hover{
    opacity: .5;
}

.deck-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.stage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage-text{
    font-size: 25px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: 2px;
}

.text-active{
    color: #027008;
}

.text-active-red{
    color: #ff0000;
}

.dots-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    line-height: normal;
    color: #000000;

}

.green{
    background-color: rgb(23, 122, 23);
}

.brown{
    background-color: rgb(148, 139, 7);
}

.blue{
    background-color: rgb(6, 113, 163);
}

.deck{
    background-image: url(./assets/mythicCardBackground.png);
    width: 130px;
    height: 190px;
    cursor: pointer;
    border-radius: 17px;
}

.deck:hover{
    opacity: .5;
}

.last-card{
    width: 130px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 17px;
}

.active-visible{
    visibility: visible;
}

.active-hidden{
    visibility: hidden;
}